.element-indiv-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.element-indiv-photo {
  max-width: 20rem;
}

.element-indiv {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  border: 1px;
}

.element-indiv-name {
  font-size: 10rem; 
}

.element-indiv-use {
  max-width: 3rem;
}
