ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
  font-size: 36px;
  font-weight: bold;
}

li, a {
  padding: 1em 1em;
  text-decoration: none;
  color: #4a4a4a;
}

a:hover {
  transition: width 2s;
  opacity: 0.1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
