/**
 *
 * Styles for timeline elements
 *
 */

.exhibit-wrapper {
  width: 100%;
}

.exhibit-child {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  min-width: 100%;
  min-height: 100%;
  color: #ffffff;
}

.exhibit-title-link {
  font-size: 10rem;
}

.exhibit-title-link {
  color: #ffffff;
  Link {
    color: #ffffff;
  }
}

.exhibit-button {
  max-width: 5%;
}
