html {
  background-color: d8d8d8;
  text-align: center;
  width: 100%;
}

body {
  font-family: avenir next, sans-serif;
  width: 100%;
  margin: auto;
  top: 50%;
}

header, footer {
  padding: 1.5rem 2rem;
}

main {
  text-align: center;
  margin: auto;
}

div {
  .element-list{
    padding: 0rem 2rem;
  }
}

timeline-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  .child {
    display: inline-block;
  }
}
