/**
 *
 * Styles for global styles
 *
 */

/* Main elements */

html {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  text-align: center;
  width: 100%;
}

body {
  font-family: avenir next, sans-serif;
  color: #4a4a4a;
  width: 100%;
  margin: auto;
  top: 50%;
}

header, footer {
  padding: 1.5rem 2rem;
  font-size: 10px; /* need to add calc here */
}

main {
  text-align: center;
  margin: auto;
  height: auto;
}

/* Styles for visual elements  */

img {
  /* max-width: 200px; */
}

/* Styles for lists */

ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
}

/* Links */

a {
  color: #4a4a4a;
  text-decoration: none;
}

a:hover {
  transition: width 2s;
  opacity: 0.1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
